bleach
bump2version
certifi
cffi
chardet
cryptography
docutils
filelock
idna
importlib-metadata
jeepney
keyring
more-itertools
packaging
pkginfo
pluggy
py
pycparser
Pygments
pyparsing
readme-renderer
requests
requests-toolbelt
SecretStorage
six
toml
tox
tqdm
twine
urllib3
virtualenv
webencodings
zipp
